# pixi environments
.pixi/*
!.pixi/config.toml

# database
data/

# input files
input/

# processed files
completed/

# python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/

# IDE
.vscode/
.idea/
.claude/